body {
  margin: 0;
  font-family: 'Saans', sans-serif;
  background: #07090d;
  color: #f4f5f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
